<%= transactional_layout do %>
  <%= transactional_box title: 'Your job listing' do %>
    <p>Your job listing (#<%= @job.id %>) is now live on Product Hunt's <%= link_to 'Job board', jobs_url %>!</p>

    <p>
      If you need to make changes, you can <%= link_to 'edit your listing', edit_job_url(@job) %>.
    </p>
    <p>Let me know if you'd like to upgrade your package or have any questions on this.</p>
    <p>
      <strong>Your subscription</strong><br />
      An email will be sent to you before your subscription is renewed.<br/>
      It is possible to cancel your subscription at any time via the <%= link_to 'edit form', edit_job_url(@job) %>, note
      that the started period cannot be refunded.
    </p>
    <p>
      <strong>Premium Listing</strong><br />
      If you'd like to get your company on the Product Hunt homepage, we currently have a couple of slots available. The Premium Listing includes your logo, tagline, and job link listed on our homepage for a full month. You can also boost your listing by highlighting it at the top of the Weekly Jobs Digest sent to over 100K talented people in tech, including developers, designers, marketers, salespeople, and more. Let us know if you'd like to secure one or both of these Premium Features for your ad.
    </p>

    <%= transactional_salutation salute: 'Many thanks', from: 'Emily Hodgins' %>
  <% end %>
<% end %>
