<%= transactional_layout do %>
  <%= transactional_box title: 'Fresh jobs in tech' do %>
    <table border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#ffffff">
      <% if @presenter.featured_jobs.any? %>
        <% @presenter.featured_jobs.each do |job| %>
          <tr>
            <td>
              <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                  <td width="65">
                    <%= job_image_tag(job, size: 52) %>
                  </td>
                  <td>
                    <%= link_to job.company_name, job_url(job, @presenter.tracking_params), class: 'jobs-digest-job-title' %>
                    is hiring <%= article_for(job.job_title) %>
                    <%= link_to job.job_title, job_url(job, @presenter.tracking_params), class: 'jobs-digest-job-title' %>
                    <div class="jobs-digest-job-locations">
                      <%= link_to job.locations_csv, job_url(job, @presenter.tracking_params) %>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td height="15" colspan="4"></td>
                </tr>
                <tr>
                  <td height="1" class="transactional-box-separator"></td>
                </tr>
                <tr>
                  <td height="20"></td>
                </tr>
              </table>
            </td>
          </tr>
        <% end %>
      <% end %>
      <% if @presenter.standard_jobs.any? %>
        <% @presenter.standard_jobs.each do |job, index| %>
          <tr>
            <td>
              <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                  <td width="65">
                    <%= job_image_tag(job, size: 52) %>
                  </td>
                  <td>
                    <%= link_to job.company_name, job_url(job, @presenter.tracking_params), class: 'jobs-digest-job-title' %>
                    is hiring <%= article_for(job.job_title) %>
                    <%= link_to job.job_title, job_url(job, @presenter.tracking_params), class: 'jobs-digest-job-title' %>
                    <div class="jobs-digest-job-locations">
                      <%= link_to job.locations_csv, job_url(job, @presenter.tracking_params) %>
                    </div>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td height="15"></td>
          </tr>
          <tr>
            <td height="1" class="transactional-box-separator"></td>
          </tr>
          <tr>
            <td height="20"></td>
          </tr>
        <% end %>
      <% end %>
    </table>
    <%= transactional_cta 'View all jobs', jobs_url, center: true %>
  <% end %>
  <div class="job-digest-upsell">
    <p><strong>Hiring?</strong></p>
    <p>Get in front of thousands talanted designers, engineers, marketers and makers.</p>
    <p><%= link_to 'Submit your job listing', new_job_url %></p>
  </div>

  <div class="job-digest-unsubscribe">
    <p>
      Want to unsubscribe? Click <b><%= link_to 'here', @unsubscribe_url %></b>.
    </p>
  </div>
<% end %>
