<h2 class="resource-name">
  <%= @example['resource'] %>
</h2>

<h3>
  <%= @example['description'] %>
</h3>

<% if @example['explanation'] %>
  <p class="explanation">
    <%= raw @example['explanation'] %>
  </p>
<% end %>

<%= render partial: 'api/shared/parameters' if @example['parameters'].any? %>

<% @example['requests'].each do |request| %>
  <div class="api--request">
    <h3>Request</h3>
    <h4>Route</h4>
    <pre><%= request['request_method'] %> <%= request['request_path'] %></pre>

    <%= render partial: 'api/shared/request_details', locals: { request: request, type: 'request' } %>

    <h3>Response</h3>
    <h4>Status</h4>
    <pre><%= request['response_status'] %> <%= request['response_status_text'] %></pre>

    <%= render partial: 'api/shared/request_details', locals: { request: request, type: 'response' } %>
  </div>
<% end %>
