<%= transactional_layout do %>
  <%= transactional_box do %>
    <h1 class="account-suspended-title">Information regarding your account on Product Hunt.</h1>
    <div class="separator" />
    <p>
      Hey there,
    </p>
    <br/>
    <p>
      Content you have posted on Product Hunt has been flagged for violating our <%= link_to 'Community Guidelines', help_center_article_url('3615694-community-guidelines'), target: '_blank' %>.
    </p>
    <p>
      As a result, your account has been suspended while we investigate.
    </p>
    <p>
      If you believe this action was taken in error, please email us at <%= link_to CommunityContact::REPLY, "mailto:#{ CommunityContact::REPLY }" %> or reply to this email.
    </p>

    <%= transactional_salutation salute: 'Thank you', from: 'Product Hunt team' %>
  <% end %>
<% end %>
