<%= transactional_layout_v2 do %>
  <%= mobile_preview_tag 'Become a product pundit. A few tips for making the most of Product Hunt.' %>
  <div class="transactional-v2-layout-main">
    <%= render 'mailer/transactional_v2_header', destination: root_url(@tracking_params), tracking_params: @tracking_params %>

    <table class="announcement-container-md">
      <tr>
        <td>
          <h1 class='large-text'>
            Go beyond scrolling.
          </h1>
        </td>
      </tr>
      <tr>
        <td>
          <p class='body-text' style='margin-bottom: 20px'>
            We hope you’ve had a chance to check out the latest products and share your thoughts. New products launch every single day. Whether you’re interested in cryptocurrency, fintech, or something else, each day offers a new opportunity to find something amazing.
          </p>
        </td>
      </tr>
    </table>

    <h1 class='bold-text'>
      You’re ready to become a product pundit:
    </h1>
    <table class="listicle">
      <tr class='list-item'>
        <td class='icon'>
          <%= s3_image_tag 'static/email/emoji-icons/folder.png?w=72', alt: 'Folder Icon' %>
        </td>
        <td class='description'>
          Save and organize your favorite products into <%= link_to 'collections', collections_url(@tracking_params), class: 'transactional-v2-link' %> so you can find them later or share them with friends.
        </td>
      </tr>
      <tr class='list-item'>
        <td class='icon'>
          <%= s3_image_tag 'static/email/emoji-icons/justice.png?w=72', alt: 'Justic Scales Icon' %>
        </td>
        <td class='description'>
          Need something specific? Browse by <%= link_to 'topic', topics_url(@tracking_params), class: 'transactional-v2-link' %> or check out alternatives (you’ll find them on each product page).
        </td>
      </tr>
      <tr class='list-item'>
        <td class='icon'>
          <%= s3_image_tag 'static/email/emoji-icons/laptop.png?w=72', alt: 'Waving Hand Icon' %>
        </td>
        <td class='description'>
          Get the <%= link_to 'Product Hunt Chrome extension', apps_url(@tracking_params), class: 'transactional-v2-link' %> to keep tabs on the newest launches each time you open a new tab.
        </td>
      </tr>
    </table>

    <h1 class='bold-text'>
      Get inspired
    </h1>
    <p class='body-text'>
      There’s nothing more exciting to us than when a member of our community decides to build and launch a product of their own. Read stories of makers who took the leap.
    </p>
    <table class="listicle-story">
      <% @featured_stories.each do |details| %>
        <tr class="story-item">
          <td class="story">
            <div style="background-image: url(<%= Image.call details[:story].header_image_uuid, width: 108, height: 108 %>)"></div>
          </td>
          <td class="description">
            <b> <%= link_to details[:user].name, subject_url(details[:story], @tracking_params), class: 'transactional-v2-link' %></b><%= details[:description] -%>
            <p>
              Follow <%= link_to details[:user].first_name, profile_url(details[:user], @tracking_params), target: '_blank' %>
            </p>
          </td>
        </tr>
      <% end %>
    </table>

    <%= render 'drip_mails/onboarding/cta_footer', cta_text: "Read more stories", link_destination: stories_index_url(@tracking_params) %>
  </div>

  <%= render 'mailer/social_footer_links_v2', tracking_params: @tracking_params %>
<% end %>
