<table class='listicle'>
  <tr class='list-item'>
    <td class='icon'>
      <%= s3_image_tag 'static/email/emoji-icons/file.png?w=72', alt: 'File Icon' %>
    </td>
    <td class='description'>
      <b>Prep.</b> Make sure your value prop is clear in your content. Don’t forget the first comment and your <%= link_to 'profile', my_profile_url(@tracking_params), target: '_blank', class: 'transactional-v2-link' %> — they’re great spots to share your story.
    </td>
  </tr>
  <tr class='list-item'>
    <td class='icon'>
      <%= s3_image_tag 'static/email/emoji-icons/microphone.png?w=72', alt: 'Explain Icon' %>
    </td>
    <td class='description'>
      <b>Explain.</b> Have a specific goal? If you’re looking for product feedback, let people know! Need customers? Consider offering a discount.
    </td>
  </tr> 
  <tr class='list-item'>
    <td class='icon'>
      <%= s3_image_tag 'static/email/emoji-icons/chat-bubble.png?w=72', alt: 'Chat Bubble Icon' %>
    </td>
    <td class='description'>
      <b>Engage.</b> Use the <%= link_to 'Launch Day dashboard', post_launch_dashboard_url(@post.slug, @tracking_params), target: '_blank', class: 'transactional-v2-link' %> and <%= link_to 'Product Hunt app', apps_url(@tracking_params), target: '_blank', class: 'transactional-v2-link' %> to respond to questions and comments about your product ASAP.
    </td>
  </tr> 
  <tr class='list-item'>
    <td class='icon'>
        <%= s3_image_tag 'static/email/emoji-icons/medal.svg', alt: 'Embed Icon', class: 'embedIcon' %>
    </td>
    <td class='description'>
      <b>Embed.</b> Use website badges to drive support to your launch. Explore the  <%= link_to 'embeds page', post_embed_url(@post.slug, @tracking_params), target: '_blank', class: 'transactional-v2-link' %> for different ways to engage your community.
    </td>
  </tr> 
  <tr class='list-item'>
    <td class='icon'>
      <%= s3_image_tag 'static/email/emoji-icons/waving-hand.png?w=72', alt: 'Waving Hand Icon' %>
    </td>
    <td class='description'>
      <b>Share.</b> Share a link to your launch on social, email, and beyond. Just don’t explicitly ask for upvotes, please. Keep it genuine.
    </td>
  </tr>
    <tr class='list-item'>
    <td class='icon'>
      <%= s3_image_tag 'static/email/emoji-icons/speakerphone.jpg?w=72', alt: 'Speaker Icon' %>
    </td>
    <td class='description'>
      <b>Advertise.</b> Reach more of the community after your launch by <%= link_to 'advertising', sponsor_url(@tracking_params), target: '_blank', class: 'transactional-v2-link' %> your product on Product Hunt.
    </td>
  </tr> 
</table>
