<%= transactional_layout_v2 do %>
  <%= mobile_preview_tag 'Here are our tips for a well-planned launch day.' %>
  <div class="transactional-v2-layout-main">
    <%= render 'mailer/transactional_v2_header', destination: post_url(@post.slug, @tracking_params), tracking_params: @tracking_params %>

    <table class="announcement-container-lg">
      <tr>
        <td>
          <h1 class='large-text'>Congrats! Your launch is scheduled.</h1>
        </td>
      </tr>
      <tr>
        <td>
          <p class='body-text'>
            Your product will go live on <b><%= @post.scheduled_at.strftime("%A, %B #{@post.scheduled_at.day.ordinalize}") %> at <%= @post.scheduled_at.strftime("%l:%M %P") %> Pacific Time</b>. 
            You’re not done yet though.
            A well-planned launch day is key to a successful launch.
          </p>
        </td>
      </tr>
    </table>

    <%= render partial: 'launch_list' -%>
    <%= render partial: 'cta_footer', locals: {cta_text: 'Manage your launch', link_destination: post_launch_dashboard_url(@post, @tracking_params)} -%>
  </div>

      <%= render 'mailer/social_footer_links_v2', tracking_params: @tracking_params %>
<% end %>
