<%= transactional_layout_v2 do %>
  <%= mobile_preview_tag 'Start building a strong presence for your product on Product Hunt.' %>
  <div class="transactional-v2-layout-main">
    <%= render 'mailer/transactional_v2_header', destination: post_url(@post.slug, @tracking_params), tracking_params: @tracking_params %>
    <table class="announcement-container-md">
      <tr>
        <td>
          <h3 class='greeting-text'>What's next?</h3>
        </td>
      </tr>
      <tr>
        <td>
            <p class='body-text'>
              Now that the initial launch hype is slowing down, it's time to focus on building social proof for your product.
            </p>
            <br/>
            <p class='body-text'>
              Millions of people land on Product Hunt searching for the best products in their category.
              Reviews help them make decisions. By encouraging your community to leave reviews, you can persuade others to try your product and boost traffic from SEO, too.
              Here are a few ways you can improve reviews on your profile:
            </p>
          </td>
        </tr>
        <tr>
          <td>
          <p class='body-text'>
            <h4 class="bold-text">1. Collect reviews</h4>
            <p class="body-text"> Embed the review badge on your website to drive your customers to leave helpful reviews on Product Hunt.</p>
            <div class="preview-container">
              <div class="badge-container">
                <img src="https://api.producthunt.com/widgets/embed-image/v1/review.svg?post_id=76&theme=light" class="embed"/>
              </div>
              <button class="preview-button">
                <%= link_to 'Get the code', product_embed_url(@product, @tracking_params), target: '_blank', class: 'ph-cta' -%>
              </button>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <h4 class="bold-text">2. Send a direct email</h4>
            <p class="body-text"> A friendly email to your existing customers can never hurt. Here’s a quick template that you’re free to use or adapt. </p>
            <div class="preview-container">
              <div class="copyable-block">
                <p class="body-text">
                  Hi [customer name],<br/><br/>
                  I’ve got a quick favor to ask. <br/><br/>
                  We recently launched on Product Hunt (thanks for the support!), and we’re trying to get a few more great ratings from customers. If you like what we’ve been building so far, we'd greatly appreciate taking a minute to leave a review. <br/> <br/>
                  <a><%= link_to 'Click here to review', new_product_review_url(@product), target: '_blank', class: 'inline-cta' %></a> <br/> <br/>
                  Thank you so much!
                </p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <h4 class="bold-text">3. Share your reviews</h4>
            <p class="body-text"> You can embed Product Hunt reviews and use them as social proof on your website and social platforms. Grab the embed code or download an image by clicking 'embed' on an individual review. </p>
            <div class="preview-container">
              <%= s3_image_tag 'static/review-embed-preview.png?w=384', alt: 'Review Embed Preview', class: 'review-preview' %>
             <button class="preview-button"><%= link_to 'View your reviews', post_embed_url(@post, @tracking_params), target: '_blank', class: 'ph-cta' %> </button>
            </div>
          </td>
        </tr>
        <tr>
        <td>
          <p class="body-text">
            If you're looking to reach more of the community, contact us to learn more about <%= link_to 'advertising', sponsor_url(@tracking_params), target: '_blank', class: 'transactional-v2-link' %> your product.
          </p>
          <br/>
          <p class="body-text">
            We want to help you succeed – don’t hesitate to reach out to our community team if you have questions!
          </p>
        </td>
        </tr>
        </table>
  </div>
  <%= render 'mailer/social_footer_links_v2', tracking_params: @tracking_params %>
<% end %>
