<%= transactional_layout name: @account.user.name do %>
  <%= transactional_box do %>
    <p>
      A friendly reminder your Ship Pro trial has ended.
    </p>
    <% if @recent_subscribers %>
      <p>
        In the past 7 days, your page <%= link_to @recent_subscribers[1].name, upcoming_page_url(@recent_subscribers[1]) %> has collected <strong>+<%= @recent_subscribers[0] %></strong> subscribers! 
        <% if @recent_subscribers[0] < 100 %>
          Upgrade now to keep promoting your page on Product Hunt.
        <% else %>
          Keep in touch with them by upgrading today.
        <% end %>
      </p>
    <% end %>
    <p>
      Now that your trial has ended, unlimited messages, product promotion, scheduled launches, and other pro features won’t be accessible.
    </p>
    <p>
      Our plans start at <strong>$<%= Ships::Plans::MONTLY_PRO_PRICE %></strong>/month, and by upgrading now, your project will take full advantage of Ship Pro features. 
    </p>
    <%= transactional_cta 'Upgrade Today', my_ship_plans_url %>
    <p>
      You can cancel your trial from <%= link_to 'here', my_ship_trial_expired_url %>.
    </p>
    <p>
      Have questions about upgrading?<br />
      Our team will be happy to answer any question you might have.<br />
      Contact us or visit our <%= link_to 'help center', 'https://help.producthunt.com/ship' %>.
    </p>
    <p>
      Let us know if there is anything we can do.
    </p>
    <%= transactional_salutation salute: 'Thanks' %>
  <% end %>
<% end %>
