<%= transactional_layout do %>
  <%= transactional_box do %>
    <p>Hi <%= @user.first_name %> </p><br/>
    <p><strong><%= @friend.name.titleize %></strong> recently signed up for the Makers Festival Green Earth Edition.</p>
    <p>
      We’re looking for makers all over the world to come together and build products for our beautiful planet
    </p>
    <br />
    <p>
      Registrations are now open and you can sign up <strong><a href="<%= "#{ makers_festival_url(@festival.slug) }#register"%>">here </a></strong>.
    </p>
    <br />
    <p>
      We have a bunch of cool prizes lined up for the winner.
    </p><br/>
    <%= transactional_salutation salute: 'Happy making', from: 'Team Product Hunt' %>
  <% end %>
<% end %>
