<% unless @content.top_items.empty?  %>
<div class="newsletter-section newsletter-posts">
  <div class="date"><%= newsletter_top_items_date(@newsletter) -%></div>
  <div class="title"><%= newsletter_top_items_title(@newsletter) -%></div>

  <table class="post-items">
    <% @content.top_items.each.with_index do |post, i| %>
    <% if i === 3 && @post_ad.present? %>
      <% ad_url = Routes.ads_newsletter_redirect_url(@post_ad) %>
      <tr class="post-item promoted">
        <td>
          <%= link_to ad_url, target: '_blank', class: 'post-img' do %>
            <%=
              image_tag Image.call(
                @post_ad.thumbnail,
                width: 80,
                height: 80,
                fit: 'crop',
              )
            %>
          <% end %>
        </td>
        <td>
          <%= link_to @post_ad.name, ad_url, target: '_blank', class: 'post-name' -%>
          <%= link_to @post_ad.tagline, ad_url, target: '_blank', class: 'description' -%>
          <div class="upvotes">
            <% if @post_ad.budget.campaign.post.present? %>
              <%= link_to post_url(@post_ad.budget.campaign.post), target: '_blank' do %>
                &#9650;&nbsp;<%= @post_ad.budget.campaign.post.votes_count %>+
              <% end %>
              &nbsp;
            <% end %>
            <%= link_to Routes.landing_promoted_products_url, target: '_blank', class: 'promoted-tooltip' do -%>
              Promoted <%= s3_image_tag 'static/promoted-question.png' -%>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
      <tr class="post-item">
        <td>
          <%= link_to post_url(post, @tracking_featured), target: '_blank', class: 'post-img' do %>
            <%= post_image_tag post, size: 80%>
          <% end %>
        </td>
        <td>
          <%= link_to post_url(post, @tracking_featured), target: '_blank', class: 'post-name' do %>
            <%= post.name %>
          <% end %>
          <%= link_to post_url(post, @tracking_featured), target: '_blank', class: 'description' do %>
            <%= post.tagline %>
          <% end %>
          <%= link_to post_url(post, @tracking_featured), target: '_blank', class: 'upvotes' do %>
            &#9650;&nbsp;<%= post.votes_count %>+
          <% end %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td colspan="2">
        <%= link_to 'Discover many more', root_url(@tracking_params), target: '_blank', class: 'discover-more' -%>
      </td>
    </tr>
  </table>
</div>
<% end %>
