<% if @sponsor %>
  <div class="newsletter-section newsletter-sponsor">
    <div class="label"><%= @newsletter.sponsor_title %></div>
    <% if @sponsor.body_image_uuid.present? %>
      <%= link_to @sponsor.link, target: '_blank', class: 'body-image', rel: 'noopener' do %>
        <%= image_tag Image.call(@sponsor.body_image_uuid, dpr: 2) -%>
      <% end %>
    <% end %>
    <div class="description">
      <%= @sponsor.description_html.html_safe %>
    </div>

    <% if @sponsor.cta.present? %>
      <%= link_to @sponsor.link, target: '_blank', class: 'button-primary', rel: 'noopener' do %>
        <%= @sponsor.cta %>
      <% end %>
    <% end %>
  </div>
<% end %>
