  <div class="newsletter-footer">
    We send this email <%= @content.daily? ? 'daily' : 'weekly' %>.

    <% if @switch_to_weekly_url %>
      Feel free to update your <%= link_to 'email preferences', @switch_to_weekly_url %> or <%= link_to 'unsubscribe', @unsubscribe_url %> from these emails at any time.
    <% else %>
      Feel free to <%= link_to 'unsubscribe', @unsubscribe_url %> from these emails at any time.
    <% end %>

    <%= render 'mailer/social_footer_links', utm_content: "#{@content.daily? ? 'd' : 'w'}n" %>
  </div>