<table class="newsletter-header">
  <tr>
    <td>
      <%= link_to root_url(@tracking_params), target: '_blank' do %>
        <%= s3_image_tag 'static/glasshole_kitty_logo.png', alt: 'Product Hunt', width: '80px' %>
      <% end %>
    </td>
    <td class="actions">
      <%= link_to 'Read in browser', newsletter_url(@newsletter), target: '_blank', class: 'action' -%>
      <%= link_to "https://twitter.com/intent/tweet?#{{text: "In today's @producthunt Digest: #{@newsletter.subject} #{ Routes.newsletter_url(@newsletter) }"}.to_query}", target: '_blank', class: 'action' do %>
        <%= s3_image_tag 'static/twitter.png' -%>
      <% end %>
      <%= link_to "https://www.facebook.com/dialog/share?#{{app_id: Config.secret(:facebook_app_id), href: Routes.newsletter_url(@newsletter)}.to_query}", target: '_blank', class: 'action' do %>
        <%= s3_image_tag 'static/facebook.png' -%>
      <% end %>
    </td>
  </tr>

  <% if @sponsor.present? %>
    <tr>
      <td colspan="2" class="sp-onsor">
        <%= link_to @sponsor.link, target: '_blank', rel: 'noopener' do %>
          <i>This newsletter is brought to you by</i>
          <%= image_tag Image.call(@sponsor.image_uuid, dpr: 2), class: 'sp-onsor-logo' if @sponsor.image_uuid.present? %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
