<%= transactional_layout do %>
  <%= transactional_box do %>
    The Product Hunt community has voted <%= @post.name %> 🥁...
    <br/> <br/>
    <% @badges.each do |badge| %>
      <h4>#<%= badge.data['position'] %>
      <% if badge.type == "Badges::TopPostTopicBadge" %>
      <%= badge.data['topic_name'] %>
      <% end %>
      product of the week </h4>
    <% end %>
    <br/>
    We are so excited to see what you do next. <br/> <br/>
    Now you can embed your award <%= @badges.length() == 1 ? "badge" : "badges" %> on your site.
    <% @badges.each do |badge| %>
      <div class="preview-container">
        <div class="badge-container">
          <% if badge.type == "Badges::TopPostTopicBadge" %>
          <img src="<%=top_post_topic_badge(@post, "light", "weekly", badge.data['topic_name'])%>" style="width: 250px; height: 54px;" width="250" height="54" /> <br/>
          <% else %>
            <img src="<%=top_post_badge(@post, "light", "weekly")%>" style="width: 250px; height: 54px;" width="250" height="54" /> <br/>
          <% end %>
        </div>
        <button class="preview-button"><%= link_to 'Get the code', post_embed_url(@post, @tracking_params), target: '_blank', class: 'ph-cta' %> </button>
      </div>
    <% end %>
    <br/>
    Keeping your fans involved on social media will also help you make the most of your achievements. Think about some of the feedback you’ve received and tease what might be coming next as you spread the word. 
    Your <%= link_to 'launch embed page', post_embed_url(@post, @tracking_params), target: '_blank', class: 'transactional-v2-link'%> has more ways to engage your audience, too.
    <br/>
    <br/>
    <button class="preview-button"><%= link_to 'Maximize your launch', post_embed_url(@post, @tracking_params), target: '_blank', class: 'ph-cta' %> </button>
  <% end %>
  <%= content_for :footnote do %>
    <p>You can <%= link_to 'opt out', @unsubscribe_url %> of friend product post notificaitons or manage all of your email notifications from <%= link_to 'your profile', Routes.my_settings_url %>. </p>
  <% end %>
<% end %>