<%= transactional_layout do %>
  <%= transactional_box do %>
    <%= @post.name %> has been awarded...
    <br/> <br/>
    <% @badges.each do |badge| %>
      <h4>#<%= badge.data['position'] %>
      <% if badge.type == "Badges::TopPostTopicBadge" %>
      <%= badge.data['topic_name'] %>
      <% end %>
      product of the month </h4>
    <% end %>
    <br/>
    There’s not much to do at this point except rest on your laurels 🍹. <br/> Who are we kidding? You’ve got an empire to build. <br/> <br/> 
    As a reminder, sharing this success with your community is a great idea. Product of the Month is a feat that few achieve 🚀. Show off your awards to your users by embedding <%= @badges.length() == 1 ? "your badge" : "badges" %> on your site. Badges are easy to embed in your homepage or footer.
    <% @badges.each do |badge| %>
      <div class="preview-container">
        <div class="badge-container">
          <% if badge.type == "Badges::TopPostTopicBadge" %>
          <img src="<%=top_post_topic_badge(@post, "light", "monthly", badge.data['topic_name'])%>" style="width: 250px; height: 54px;" width="250" height="54" /> <br/>
          <% else %>
            <img src="<%=top_post_badge(@post, "light", "monthly")%>" style="width: 250px; height: 54px;" width="250" height="54" /> <br/>
          <% end %>
        </div>
        <button class="preview-button"><%= link_to 'Get the code', post_embed_url(@post, @tracking_params), target: '_blank', class: 'ph-cta' %> </button>
      </div>
    <% end %>
    Your journey is looking bright and your Product Hub is looking great after all this community fanfare too (you could probably even teach us a thing or two, <%= link_to 'if you want to', help_center_article_url('2775217-how-to-pitch-to-the-blog') , target: '_blank', class: 'transactional-v2-link' %>). <br/><br/>
    While we anxiously await your next launch, we’ll remind you that product discovery never sleeps at Product Hunt. So keep an eye on your Product Hub reviews, consider telling your <%= link_to 'Maker Story', maker_stories(), target: '_blank', class: 'transactional-v2-link' %>, and remember that your community is following along as you start to think about how you’ll package your next launch.
    <br/>
    <br/>
    <button class="preview-button"><%= link_to 'Visit your product hub', product_url(@post, @tracking_params), target: '_blank', class: 'ph-cta' %> </button>
  <% end %>
  <%= content_for :footnote do %>
    <p>You can <%= link_to 'opt out', @unsubscribe_url %> of friend product post notificaitons or manage all of your email notifications from <%= link_to 'your profile', Routes.my_settings_url %>. </p>
  <% end %>
<% end %>