<%= transactional_layout_v2 do %>
  <%= mobile_preview_tag 'Need some help with your product? A few ideas to keep you moving...' %>
  <div class="transactional-v2-layout-main">
    <%= render 'mailer/transactional_v2_header', destination: root_url(@tracking_params), tracking_params: @tracking_params %>
    
    <table class="announcement-container-md">
      <tr>
        <td>
          <h1 class='large-text'>
            How’s it going?
          </h1>
        </td>
      </tr>
      <tr>
        <td>
          <p class='body-text'>
            How’s your product coming along? We hope you’re just as inspired as you were on day one of your idea. Whether you’re starting to prep for your launch or need a hand to keep things moving along, we want to help. 
          </p>
        </td>
      </tr>
    </table>
    
    <table class="listicle">
      <tr class='list-item'>
        <td class='icon'>
          <%= s3_image_tag 'static/email/emoji-icons/clipboard.png?w=72', alt: 'Clipboard Icon' %>
        </td>
        <td class='description'>
          Planning for a launch? Read our <%= link_to 'Launch Guide', launch_guide_url(@tracking_params), class: 'transactional-v2-link' %> to learn best practices and get answers to your questions.
        </td>
      </tr>
      <tr class='list-item'>
        <td class='icon'>
          <%= s3_image_tag 'static/email/emoji-icons/chat-bubble.png?w=72', alt: 'Chat Bubble Icon' %>
        </td>
        <td class='description'>
          Head over to the <%= link_to 'Discussion', discussions_index_url(@tracking_params), class: 'transactional-v2-link' %> board to share your weekly goals or get advice for what you’re building.
        </td>
      </tr> 
      <tr class='list-item'>
        <td class='icon'>
          <%= s3_image_tag 'static/email/emoji-icons/waving-hand.png?w=72', alt: 'Waving Hand Icon' %>
        </td>
        <td class='description'>
          Questions about the launch process or need some technical support? Reach out to our Community Team at 
          <a class='transactional-v2-link' href="mailto:<%= CommunityContact::PH_EMAIL %>"><%= CommunityContact::PH_EMAIL %></a>.
        </td>
      </tr>  
    </table>
  </div>

  <%= render 'mailer/social_footer_links_v2', tracking_params: @tracking_params %>
<% end %>
