<%= transactional_layout_v2 do %>
  <%= mobile_preview_tag 'Hello, maker. We have a few tips for you. ' %>
  <div class="transactional-v2-layout-main">
    <%= render 'mailer/transactional_v2_header', destination: root_url(@tracking_params), tracking_params: @tracking_params %>
    
    <table class="announcement-container-md">
      <tr>
        <td>
          <h1 class='large-text'>
            Welcome to Product Hunt!
          </h1>
        </td>
      </tr>
      <tr>
        <td>
          <p class='body-text' style='margin-bottom: 20px'>
            You just joined one of the most fun, inclusive, and startuppy groups of humans on the interwebs.
          </p>
          <%= s3_image_tag 'static/email/welcome_email_team.jpg?w=512&h=268', alt: 'Welcome to Product Hunt from all of us!', class: 'transactional-v2-body-figure'%>
          <p class='body-text' style='margin-bottom: 20px'>
          Word on the street is you’re working on a product. Excellent. When you’re ready to launch it, we’ll be <%= link_to 'right here', root_url(@tracking_params), class: 'transactional-v2-link' %>.
          Until then, there’s plenty of great resources and humans here to support you.
          </p>
        </td>
      </tr>
    </table>
    
    <h1 class='bold-text'>
      Here are a few suggestions for Makers
    </h1>
    <table class="listicle">
      <tr class='list-item'>
        <td class='icon'>
          <%= s3_image_tag 'static/email/emoji-icons/clipboard.png?w=72', alt: 'Clipboard Icon' %>
        </td>
        <td class='description'>
          Review our <%= link_to 'Launch Guide', launch_guide_url(@tracking_params), class: 'transactional-v2-link' %>. We’ve seen A LOT of launches – we know things.
        </td>
      </tr>
      <tr class='list-item'>
        <td class='icon'>
          <%= s3_image_tag 'static/email/emoji-icons/raised-hands.png?w=72', alt: 'Raised hands Icon' %>
        </td>
        <td class='description'>
          Read a <%= link_to 'few stories', stories_index_url(@tracking_params), class: 'transactional-v2-link' %> from makers who had successful Product Hunt launches and learn from their experience.
        </td>
      </tr> 
      <tr class='list-item'>
        <td class='icon'>
          <%= s3_image_tag 'static/email/emoji-icons/rocket.png?w=72', alt: 'Rocketship Icon' %>
        </td>
        <td class='description'>
          Check out <%= link_to 'discussions', discussions_index_url(@tracking_params), class: 'transactional-v2-link' %> to hear from other makers about topics like marketing tips and building in public.
        </td>
      </tr>
      <tr class='list-item'>
        <td class='icon'>
          <%= s3_image_tag 'static/email/emoji-icons/profile.png?w=72', alt: 'Profile Icon' %>
        </td>
        <td class='description'>
          Showcase your experience, interests, and goals in your <%= link_to 'profile', my_profile_url(@tracking_params), target: '_blank', class: 'transactional-v2-link' %> to help potential cofounders, employees, and users learn about you.
        </td>
      </tr>
    </table>
    
    <%= render 'drip_mails/onboarding/cta_footer', cta_text: "Start exploring", link_destination: root_url(@tracking_params) %>
  </div>

  <%= render 'mailer/social_footer_links_v2', tracking_params: @tracking_params %>
<% end %>
