<%= transactional_layout_v2 do %>
  <%= mobile_preview_tag 'Read about other makers who gained traction from their launch.' %>
  <div class="transactional-v2-layout-main">
    <%= render 'mailer/transactional_v2_header', destination: root_url(@tracking_params), tracking_params: @tracking_params %>

    <table class="announcement-container-md">
      <tr>
        <td>
          <h1 class='large-text'>
            Check out these maker stories for a bit of motivation.
          </h1>
        </td>
      </tr>
      <tr>
        <td>
          <p class='body-text' style='margin-bottom: 20px'>
            What do Notion, Coinbase, and indie product Battery Buddy have in common? They’ve all had successful launches on Product Hunt. Launches help makers gain traction. That momentum often leads to early adopters, product feedback, and meaningful connections. Check out these maker stories.
          </p>
        </td>
      </tr>
    </table>

    <table class="announcement-container-md">
      <% @featured_stories.each do |details| %>
          <tr>
            <td>
            <div class='story-item-lg'>
              <%= link_to subject_url(details[:story], @tracking_params), target: '_blank' do %>
                <figure>
                  <img src="<%= Image.call details[:story].header_image_uuid, width: 510, height: 248 %>" />
                </figure>
                <h3 class='story-title' style='width: 510px; margin: auto; margin-bottom: 10px'><%= details[:story].title %></h3>
                <p class='body-text'>
                  <%= details[:description] %>
                </p>
            </div>
            <p class='body-text'>
              Follow <% details[:users].each do |user| %>
                <%= link_to user.name, profile_url(user, @tracking_params), target: '_blank' %>
              <% end %>
            </p>
              <% end %>
            </td>
          </tr>
      <% end %>
    </table>

    <%= render 'drip_mails/onboarding/cta_footer', cta_text: "More stories", link_destination: stories_index_url(@tracking_params) %>
  </div>

  <%= render 'mailer/social_footer_links_v2', tracking_params: @tracking_params %>
<% end %>
