<%= transactional_layout do %>
  <%= transactional_box do %>
  <p>Hey there, <%= @user.first_name %>!</p>
    <% @digest_content.each do |item| %>
      <div class="discussions-digest-subscription-wrapper">
        <p>There <%= item.comments_count > 1 ? 'are' : 'is' %><b> <%= pluralize(item.comments_count, 'new comment') %></b> on a discussion you follow: <%= link_to(item.subject_name, Routes.subject_url(item.subject)) %></p>
        <% item.each_with_children do |parent, comments| %>
          <table class="discussions-digest-comment-table">
            <thead>
              <tr class="discussions-digest-cell-wrapper">
                <th class="discussions-digest-avatar-wrapper">
                  <%= link_to_user parent.user, size: 30, style: 'border-radius: 50%' %>
                </th>

                <th class="discussions-digest-cell-wrapper">
                  <div class="discussions-digest-comment-content">
                    <p class="discussions-digest-user-name"><%= parent.user.name %></p>
                    <p class="discussions-digest-bio"><%= parent.user.headline %></p>
                    <p class="discussions-digest-comment"><%= parent.body %></p>
                  </div>
                </th>
              </tr>
            </thead>
          </table>
            <% comments.each do |comment| %>
              <table>
                <tr class="discussions-digest-cell-wrapper">
                  <th class="discussions-digest-avatar-wrapper">
                    <div class="discussions-digest-avatar-thread">
                      <%= link_to_user comment.user, size: 30, style: 'border-radius: 50%' %>
                    </div>
                  </th>

                  <th class="discussions-digest-cell-wrapper">
                    <div class="discussions-digest-comment-content-thread">
                      <p class="discussions-digest-user-name"><%= comment.user.name %></p>
                      <p class="discussions-digest-bio"><%= comment.user.headline %></p>
                      <p class="discussions-digest-comment"><%= comment.body %></p>
                    </div>
                  </th>
                </tr>
            </table>
          <% end %>
        <% end %>
        <div class="discussions-digest-view-button">
          <%= button_to item.comments_count > 3 ? 'VIEW ALL COMMENTS ON PRODUCT HUNT' : 'VIEW ON PRODUCT HUNT', Routes.subject_url(item.subject) %>
        </div>
        <p class="discussions-digest-unfollow-text">
          You can <%= link_to 'opt out', @unsubscribe_url %> of digest notifications or manage all of your email notifications from <%= link_to 'your profile', Routes.my_settings_url %>.
        </p>
      </div>
    <% end %>
  <% end %>
<% end %>
