<%= transactional_layout kitty_logo: true do %>
  <%= transactional_box do %>
    <p>Hi there,</p>

    <p>
      We've noticed you haven't been checking our emails lately, so we went ahead and removed you from our email list.
    </p>

    <p>
      Still want to be the first to see new launches in your inbox each day? <%= link_to 'Click here to re-subscribe', newsletters_url %>.
    </p>

    <p>
      You can also read through our most recent newsletters <%= link_to 'here', newsletters_url %>.
    </p>

    <%= transactional_salutation salute: 'All the best', from: 'Sarah, Product Hunt Storyteller' %>
  <% end %>
<% end %>
