<%= transactional_layout name: @export.user.first_name do %>
  <%= transactional_box title: @message do %>
    <%= transactional_cta 'Download', download_export_url(@export) %>
    <p><i>(link will be active until <%= @export.expires_at.to_date.strftime("%B %d, %Y") %>)</i></p>
    <p class='font-small font-grey'>If the button above did not download your file, you can use this link directly. 
      <%= link_to download_export_url(@export), download_export_url(@export) %>
    </p>
    <%= transactional_salutation %>
  <% end %>
<% end %>
