<%= transactional_layout do %>
  <%= transactional_box do %>
    <p>Hello, <%= @user.name %>!</p>

    <p>Your Upcoming page has been reviewed and scheduled for promotion <% if @upcoming_page.featured_at.present? %> on <strong><%= @upcoming_page.featured_at.strftime("%B %d, %Y") %></strong><% end %>.

    <p>Our team may have edited your page based on what we've learned, helping tens of thousands of products launch every year to help you succeed.</p>

    <p>Feel free to change anything back, but be assured that we only make changes that we know will help your page.</p>

    <p>Let us know if you have any questions! Happy to help.</p>

    <%= transactional_salutation salute: 'Cheers', from: 'Jake from Product Hunt' %>
  <% end %>
<% end %>
