<%= transactional_layout do %>
  <%= transactional_box do %>
    <p>Hello, <%= @user.friendly_name %>!</p>
    <p>
      <strong>The subscriber import for "<%= @upcoming_page.name %>" that you have initiated earlier has failed.</strong>
      <br />
      Please make sure that the CSV file has a header called <strong>"email"</strong> which contains the subscribers' emails.
    </p>
    <p>
      To help you, we have created a template you can use <a href="<%= S3Helper.url('static/sample-ship-import.csv') %>">here.</a>
    </p>
    <p>Thank you!</p>
  <% end %>
<% end %>
