<%= transactional_layout_v2 do %>
  <div class='transactional-v2-layout-main'>
    <%= render partial: 'header', locals: { text: "Your invite has been accepted" } %>
    <%= render partial: 'product_card' %>
    <%= render partial: 'user_card' %>

    <%= render layout: 'content' do %>
      <%= user_link(@user) %> is now part of <%= product_link(@product) %>.
      You can manage team members and permissions from your Hub settings.
    <% end %>

    <%= render partial: 'cta', locals: { text: "Open Hub settings", url: product_team_url(@product) } %>
  </div>

  <%= render partial: 'footer', locals: { text: "you sent an invite to a hub" } %>
<% end %>
