<%= transactional_layout_v2 do %>
  <div class='transactional-v2-layout-main'>
    <%= render partial: 'header', locals: { text: 'You have received a new team request' } %>
    <%= render partial: 'product_card' %>
    <%= render partial: 'user_card' %>

    <%= render layout: 'content' do %>
      <%= user_link(@user) %> has requested to become a team member on your hub <%= product_link(@product) %>.
      Click the link below to respond to this request.
    <% end %>

    <%= render partial: 'cta', locals: { text: "Open Hub settings", url: product_team_url(@product) } %>

    <%= render layout: 'content', locals: { class_name: 'sm-text' } do %>
      If you don’t know this user or this looks like spam, please flag this request to our team at <%= support_mail_link %>.
    <% end %>
  </div>

  <%= render partial: 'footer', locals: { text: "you manage a hub" } %>
<% end %>
