<% get_back_text = @is_first_claim ? "We'll get back to you shortly." : "You'll receive an email once the owner approves/rejects your request." %>
<% reason_text = "recently #{@is_first_claim ? 'claimed' : 'requested access to'} a hub" %>

<%= transactional_layout_v2 do %>
  <div class='transactional-v2-layout-main'>
    <%= render partial: 'header', locals: { text: "We have received your request" } %>
    <%= render partial: 'product_card' %>

    <%= render layout: 'content' do %>
      <% if @is_first_claim %>
        We have received your request to become an owner of <%= product_link(@product) %>. <%= get_back_text unless @verify_email %>
      <% else %>
        Your request to receive access to <%= product_link(@product) %> has been sent. <%= get_back_text %>
      <% end %>
    <% end %>

    <% if @verify_email %>
      <%= render layout: 'content' do %>
        Please click the button below to verify your email address and confirm your request. <%= get_back_text %>
      <% end %>

      <%= render partial: 'cta', locals: { text: "Verify Email", url: @confirm_url, show_link_text: true } %>
    <% end %>

    <%= render layout: 'content', locals: { class_name: "sm-text" } do %>
      If you did not make this <%= @is_first_claim ? "claim" : "request" %>, please ignore this email or contact
      us at <%= support_mail_link %>.
    <% end %>
  </div>

  <%= render partial: 'footer', locals: { text: reason_text } %>
<% end %>



