<%= transactional_layout_v2 do %>
  <div class='transactional-v2-layout-main'>
    <%= render partial: 'header', locals: { text: 'Your request has been rejected' } %>
    <%= render partial: 'product_card' %>

    <%= render layout: 'content' do %>
      <p>We regret to inform you that your request to manage the hub <%= product_link(@product) %> has been declined.</p>
      <% if @is_first_claim %>
        <p>If this does not look right to you, please contact us at <%= support_mail_link %>.</p>
      <% else %>
        <p>If this does not look right to you, please contact the hub owner and ask them to send you a new invite.</p>
      <% end %>
    <% end %>
  </div>

  <%= render partial: 'footer', locals: { text: "you requested access to a hub" } %>
<% end %>
