<%= transactional_layout kitty_logo: true do %>
  <%= transactional_box do %>
    <p>Hi there,</p>

    <p>
      <i>You're receiving this email because you entered one of our giveaways.</i>
    </p>

    <p>
      Welcome! You're the newest member of the Product Hunt community, the place to discover your next favorite thing.
    </p>

    <p>
    We'll soon start sending you our Daily Digest covering the coolest new products and trends in tech — whether it's <%= link_to "what's new in FinTech", Routes.newsletter_url(@newsletter1) %>, a <%= link_to 'fresh feature', Routes.newsletter_url(@newsletter2) %> from Slack, early access to a <%= link_to 'hot new product', Routes.newsletter_url(@newsletter3) %>, or just a <%= link_to 'fun tool', Routes.newsletter_url(@newsletter4) %> to impress your friends. 😜
    </p>

    <p>
      If you're in the wrong place and you thought this was just cat gifs, hit this <b><%= link_to 'unsubscribe link', @unsubscribe_url %></b>. 
    </p>

    <%= transactional_salutation salute: 'Happy Hunting', from: 'Jake, on behalf of the Product Hunt team' %>
  <% end %>
<% end %>
