<!DOCTYPE html>
<html>

<head>
  <%= stylesheet_link_tag "shareable/base", media: "all" %>
  <%= stylesheet_link_tag "shareable/change_log", media: "all" %>
</head>

<body>
  <div class="card gradient-6 flexable align-center">
    <div class="change-log-contents flexable row justify-space-between">
      <div class="change-log-info flexable column align-start">
        <div class="change-log-date">
          <%= @change_log.date.strftime('%B, %-d %Y') -%>
        </div>
        <div class="change-log-title clamp-text-3">
          <p><%= @change_log.title -%></p>
        </div>
        <div class="change-log-static">
          Our latest update on Product Hunt’s changelog
        </div>
      </div>
      <img
        class="change-log-logo"
        src="<%= S3Helper.url('static/glasshole_kitty_logo.png') %>"
      />
    </div>
  </div>
</body>

</html>
