<!DOCTYPE html>
<html>

<head>
  <%= stylesheet_link_tag "shareable/base", media: "all" %>
  <%= stylesheet_link_tag "shareable/collection", media: "all" %>
</head>

<body>
  <div class="card flexable column gradient-3">
    <div class="inner-card flexable column">
      <div class="user flexable row align-center">
        <img
          class="circle"
          src="<%= Users::Avatar.url_for_user(@collection.user, size: 60) %>"
        />
        <div class="medium-text grey">by <%= @collection.user.name -%></div>
      </div>
      <div class="large-text black clamp-text-2">
        <%= @collection.name -%>
      </div>
      <div class="medium-text grey">
        <%= pluralize(@collection.products_count, 'product') -%>
      </div>
    </div>
    <div class="sub-inner-card-text white">
      Discover your next favorite thing on Product Hunt
    </div>
    <img
      class="logo-lower-right"
      src="<%= S3Helper.url('static/glasshole_kitty_logo.png') %>"
    />
  </div>
</body>
</html>
