<!DOCTYPE html>
<html>

<head>
  <%= stylesheet_link_tag "shareable/base", media: "all" %>
  <%= stylesheet_link_tag "shareable/user", media: "all" %>
</head>

<body>
  <div class="card flexable column gradient-1">
    <div class="inner-card flexable row">
      <div class="user-avatar">
        <img
          class="circle"
          src="<%= Users::Avatar.url_for_user(@user, size: 250) -%>"
        />
        <% if @user.maker? %>
          <img
            class="maker-badge"
            src="<%= S3Helper.url('static/maker-badge-new.png') -%>"
          >
        <% end %>
      </div>
      <div class="content flexable column">
        <div class="large-text black"><%= @user.name -%></div>
        <div class="medium-text grey"><%= @user.headline -%></div>
        <div class="medium-text grey">@<%= @user.username -%> on Product Hunt</div>
      </div>
    </div>
    <div class="sub-inner-card-text white">
      Join <%= @user.name -%> on Product Hunt
    </div>
    <img
      class="logo-lower-right"
      src="<%= S3Helper.url('static/glasshole_kitty_logo.png') %>"
    />
  </div>
</body>
</html>
