<%= transactional_layout do %>
  <%= transactional_box do %>
    <p>Hi, <%= @user.first_name %></p>

    <p>
      After review, your request to post <%= link_to @post.name, Routes.post_url(@post), target: '_blank' %> less than six months after its previous launch was approved!
    </p>

    <p>
      You can now resubmit <%= link_to @post_url, @post_url, target: '_blank', rel: 'noopener' %> on Product Hunt.
    </p>

    <center>
      <%= transactional_cta 'Post Now', Routes.new_post_submission_url %>
    </center>

    <p>
      If you need help, let us know!
    </p>
    <%= transactional_salutation %>
  <% end %>
<% end %>
