<% if version == 'simplified' %>
  <p>
    <%= salute %>,<br/>
    <%= from %>
  </p>
<% elsif version == 'letter' %>
  <p>
    <%= salute %>,<br/>
    <%= from %><br/>
    <%= title %>
  </p>
<% end %>

