<div>
  <table border="0" cellpadding="0" cellspacing="0" width="100%" height="100%" bgcolor="#f9f9f9">
    <tr>
      <td>
        <div class="transactional-container">
          <table border="0" cellpadding="0" cellspacing="0" width="100%" height="100%">
            <tr>
              <td>
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tr>
                    <td>
                      <%= render 'mailer/logo' %>
                    </td>
                    <td class="transactional-date">
                      <%= Time.zone.now.strftime("%A, %B #{Time.zone.now.day.ordinalize}") %>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td height="20"></td>
            </tr>
            <tr>
              <td height="20"></td>
            </tr>
            <% if name %>
              <tr>
                <td>Hello, <strong><%= name %></strong>,</td>
              </tr>
              <tr>
                <td height="10"></td>
              </tr>
            <% end %>
            <tr>
              <td>
                <%= yield %>
                <%= transactional_footnote do %>
                  <% if content_for?(:footnote) %>
                    <%= yield(:footnote) %>
                  <% end %>
                  <p>If you have any questions, feedback, ideas or problems don't hesitate to contact us!</p>
                  <% if @unsubscribe_url.blank? && @unfollow_url.blank? %>
                    <p>If you no longer want to receive these updates, <%= link_to 'unsubscribe here', edit_my_settings_url %>.</p>
                  <% end %>
                  <p><%= contact_address %></p>
                <% end %>
              </td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
  </table>
</div>

