<div class="u-well oauth-applications--application">
  <h2><%= application.name %></h2>

  <section class="oauth-applications--application--infos">
    <p>
      <strong>Redirect URI:</strong>
      <%= application.redirect_uri %>
    </p>
    <p>
      <strong>API Key:</strong>
      <%= application.uid %>
    </p>
    <p>
      <strong>API Secret:</strong>
      <%= application.secret %>
    </p>
    <% if application.twitter_auth_allowed? %>
      <p>
        <strong>Name parameter sent at reverse_auth requests:</strong>
        <%= application.twitter_app_name %>
      </p>

      <p>
        <strong>Twitter Consumer Key:</strong>
        <%= application.twitter_consumer_key %>
      </p>

      <p>
        <strong>Twitter Consumer Secret:</strong>
        <%= application.twitter_consumer_secret %>
      </p>
    <% end %>
    <p>
      <%= link_to 'Edit', edit_api_v2_oauth_application_path(application), class: 'button' %>
      <%= link_to 'Delete', api_v2_oauth_application_path(application), method: :delete, class: 'button' %>
    </p>
  </section>

  <section class="oauth-applications--application--developer-token">
    <h4>Developer Token</h4>
    <p class="u-text-muted">
      Please do not share your developer tokens with any untrusted sources.
    </p>
    <% developer_token = find_developer_token_for(application) %>
    <% if developer_token.present? %>
      <p>
        <strong>Token:</strong>
        <%= developer_token.token %>
        <br>
        <strong>User Context:</strong>
        <%= User.find(developer_token.resource_owner_id).name %>
        <br>
        <strong>Expires:</strong>
        <%= (developer_token.expires_in.nil?) ? 'Never': (developer_token.created_at + developer_token.expires_in.seconds) %>
      </p>
      <%= link_to 'Delete Token', api_v2_oauth_application_developer_tokens_path(application_id: application.id), method: :delete, class: 'button' %>
    <% else %>
      <p class="u-text-muted">
        You can create tokens that never expire and are locked to your personal account.<br>
        This tokens are eg useful if you want to create simple automated scripts that only relate to your account or test something quickly.<br>
        If you do not require any user context (or don't want any for security) you also might want to look into <a href="https://api.producthunt.com/v2/docs">Client-Only Authentication</a>.
      </p>
      <%= link_to 'Create Token', api_v2_oauth_application_developer_tokens_path(application_id: application.id), method: :post, class: 'button' %>
    <% end %>
  </section>
</div>
