<%= form_for [:api, :v2, @application] do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :redirect_uri, 'Redirect URI' %>
    <%= f.text_field :redirect_uri %>
  </p>

  <% if application.twitter_auth_allowed? %>
    <p>
      <%= f.label :twitter_app_name %>
      <%= f.text_field :twitter_app_name %>
    </p>

    <p>
      <%= f.label :twitter_consumer_key %>
      <%= f.text_field :twitter_consumer_key %>
    </p>

    <p>
      <%= f.label :twitter_consumer_secret %>
      <%= f.text_field :twitter_consumer_secret %>
    </p>
  <% end %>

  <p>
    <% if @application.errors.any? %>
      <% @application.errors.full_messages.each do |msg| %>
        <span class="error-message"><%= msg %></span><br>
      <% end %>
    <% end %>
  </p>

  <%= f.submit %>
<% end %>
