<%= transactional_box title: 'Welcome to Founder Club by Product Hunt 🎉' do %>
  <p class="founder-club-salute">
    <%= user.friendly_name %>, we're so happy to have you join Founder Club! 😸
  </p>

  <p>
    We’re excited to offer you the latest deals and offers from <%= link_to 'Founder Club', founder_club_url %>.<br />
    We are constantly updating our deal partners to find you the best tools to build your business.
  </p>

  <p>
    Some of our most popular deals include:
  </p>
  <% FounderClub::Deal.by_priority.limit(4).each do |deal| %>
    <p class="founder-club-deal">
      <%= link_to founder_club_url do %>
        <%= image_tag Image.call(deal.logo_uuid, dpr: 2, width: 154, height: 40, fit: 'max'), style: 'filter: brightness(0%);' %>
      <% end %>
      <br/>
      <strong>
        <%= link_to deal.title, founder_club_url, style: 'color: black !important' %>
      </strong>
    </p>
  <% end %>
  <p>
    And many more…
  </p>
  <%= transactional_cta "Browse Founder Club deals", founder_club_url %>
  <p>Feel free to reach out with any questions or suggestions!</p>
  <p>
    P.S. Share the love with your friends and give them 50% off! Click 👉 <%= link_to 'here', my_founder_club_invitations_url %> to invite them to FounderClub.
  </p>
  <%= transactional_salutation salute: 'Cheers', from: 'The Product Hunt Team' %>
<% end %>
