<%= transactional_layout_v2 do %>
  <%= mobile_preview_tag 'These recent launches were fire. Thought you might want to see them...' %>
  <div class="transactional-v2-layout-main">
    <%= render 'mailer/transactional_v2_header', destination: root_url(@tracking_params), tracking_params: @tracking_params %>

    <table class="announcement-container-lg" style='margin: 0px auto;'>
      <tr>
        <td>
          <h1 class='large-text'>Here’s what you’re missing on Product Hunt.</h1>
        </td>
      </tr>
      <tr>
        <td style='padding: 20px 0px 0px 0px;'>
          <p class='body-text'>
            A lot of cool new products made their debut. We wanted to make sure you didn’t miss these.
          </p>
        </td>
      </tr>
    </table>

    <table class="post-items">
      <tr>
        <td colspan='3'>
          <h3 class='post-items-title'>Recent products</h1>
        </td>
      </tr>
      <% @posts.each do |post| %>
        <tr class="post-item">
          <td>
            <%= link_to post_url(post, @tracking_params), target: '_blank', class: 'post-img' do %>
              <%= post_image_tag post, size: 80%>
            <% end %>
          </td>
          <td>
            <%= link_to post_url(post, @tracking_params), target: '_blank', class: 'post-name' do %>
              <%= post.name %>
            <% end %>
            <%= link_to post_url(post, @tracking_params), target: '_blank', class: 'description' do %>
              <%= post.tagline %>
            <% end %>
            <%= link_to post_url(post, @tracking_params), target: '_blank', class: 'upvotes' do %>
              &#9650;&nbsp;+<%= post.votes_count %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>

    <table class="footer-container">
      <tr>
        <td style='text-align: center'>
          <div class='cta-container'>
            <%= link_to 'Start Exploring', root_url(@tracking_params), target: '_blank', class: 'cta-link' %>
          </div>
        </td>
      </tr>
    </table>
  </div>

  <%= render 'mailer/social_footer_links_v2', tracking_params: @tracking_params %>
<% end %>
