<% newsletter.sections.sort.each_with_index do |section, i| %>
  <%= hidden_field_tag("newsletter[sections][#{ i }][layout]", section.layout) %>

  <fieldset class="inputs">
    <legend>
      <span>
        <% if section.layout == 'top_posts' %>
          Pick posts from <%= newsletter.eligible_posts.count %>
        featured
        <%= 'post'.pluralize(newsletter.eligible_posts.count) %>
        <%= newsletter.daily? ? %(for #{ newsletter.date }) : %(between #{ newsletter.date_range.first } and #{ newsletter.date_range.last }) %>
      <% else %>
        <%= section.layout.humanize %>
      <% end %>
      </span>
    </legend>
    <ol>
      <li>
        <%= label_tag("newsletter_sections_#{ i }_position", 'Position') %>
        <%= text_field_tag("newsletter[sections][#{ i }][position]", section.position, id: "newsletter_sections_#{ i }_position") %>
      </li>
      <% if section.layout == 'top_posts' %>
        <li>
          <%= content_tag :ol, id: 'admin-newsletter-posts', 'data-posts' => Newsletter::Content::TopPostItem.from_array(newsletter.posts).map { |post| { id: post.id, makers: post.makers, name: post.name, tagline: post.tagline, url: post_path(post) } }.to_json do %>
            <li>
              <table>
                <thead>
                  <tr>
                    <th width="1px">&nbsp;</th>
                    <th width="40%">Name</th>
                    <th width="60%">Tagline</th>
                    <th width="1px">Action</th>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td colspan="2">
                      <%= select_tag '_', options_for_select(newsletter.eligible_posts.map { |post| ["#{ post.name } - #{ post.tagline } (#{ post.votes_count }) - #{ post.featured_at.to_date } #{ 'Multipler: ' + post.score_multiplier.to_s + '!' if post.score_multiplier != 1.0 }", post.id, { 'data-value' => { id: post.id, makers: post.makers.pluck(:id), name: post.name, tagline: post.tagline }.to_json }] }), class: 'default-select' %>
                    </td>
                    <td>
                      <%= link_to 'add', '#', 'data-add' => 'true', title: 'add posts' %>
                    </td>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </li>
          <% end %>
        </li>
      <% elsif section.layout == 'sponsor' %>
        <% if newsletter.sponsor&.persisted? -%>
          <%= render partial: 'sponsor_builder', locals: { sponsor: newsletter.sponsor } -%>
        <% end %>
      <% elsif section.layout == 'story' %>
        <li class="select input optional" id="newsletter_anthologies_story_id_input">
          <%
              story_options = options_for_select(
                Anthologies::Story.published.by_published_at.map { |story_option|
                  ["#{story_option.id} - #{ story_option.title }", story_option.id]
                },
                newsletter.anthologies_story_id,
              )
            %>
          <%= label_tag 'newsletter_anthologies_story_id', 'Story', class: 'label' -%>
          <%= select_tag(
            'newsletter[anthologies_story_id]',
            story_options,
            include_blank: true,
            id: 'newsletter_anthologies_story_id'
          ) -%>
        </li>
      <% elsif section.layout == 'text' %>
        <li>
          <%= label_tag("newsletter_sections_#{ i }_content", 'Content') %>
          <%= text_area_tag("newsletter[sections][#{ i }][content]", section.content, id: "newsletter_sections_#{ i }_content") %>
        </li>
      <% else %>
        <li>
          <%= label_tag("newsletter_sections_#{ i }_subtitle", 'Subtitle') %>
          <%= text_field_tag("newsletter[sections][#{ i }][subtitle]", section.subtitle, id: "newsletter_sections_#{ i }_subtitle") %>
        </li>
        <li>
          <%= label_tag("newsletter_sections_#{ i }_title", 'Title') %>
          <%= text_field_tag("newsletter[sections][#{ i }][title]", section.title, id: "newsletter_sections_#{ i }_title") %>
        </li>
        <li>
          <%= label_tag("upload_#{ i }", 'Image') %>
          <%= inline_file_upload(id: "upload_#{ i }", name: "newsletter[sections][#{ i }][image_uuid]", value: section.image_uuid) %>
        </li>
        <li>
          <%= label_tag("newsletter_sections_#{ i }_cta", 'Button text') %>
          <%= text_field_tag("newsletter[sections][#{ i }][cta]", section.cta, id: "newsletter_sections_#{ i }_cta") %>
        </li>
        <li>
          <%= label_tag("newsletter_sections_#{ i }_url", 'Button link') %>
          <%= text_field_tag("newsletter[sections][#{ i }][url]", section.url, id: "newsletter_sections_#{ i }_url") %>
        </li>
        <li>
          <%= label_tag("newsletter_sections_#{ i }_content", 'Content') %>
          <%= text_area_tag("newsletter[sections][#{ i }][content]", section.content, id: "newsletter_sections_#{ i }_content") %>
        </li>
        <li>
          <%= label_tag("newsletter_sections_#{ i }_tracking_label", 'Tracking label') %>
          <%= text_field_tag("newsletter[sections][#{ i }][tracking_label]", section.tracking_label, id: "newsletter_sections_#{ i }_tracking_label") %>
        </li>
      <% end %>
    </ol>
  </fieldset>
<% end %>
