<%= golden_kitty_layout phase_image: @phase_image do %>
  <p> Hey there,</p>

  <p>
    It’s time! Voting for Golden Kitty Awards is happening as we speak. Here’s how it works: We’re going to be dropping a handful of category finalists each day, for the next five days. 
    You can vote on the finalists in each of those categories as soon as they drop.
  </p>

  <p>
    So let’s do this. It’s time to select your favorite product in each of these categories: <%= safe_join(@categories.map { |c| c.name }, ", ".html_safe) %>.
    Voting in these categories closes on <%= @voting_closes_at %>, so don’t cat nap on it. <%= link_to 'Vote now!', 'https://www.producthunt.com/golden-kitty-awards-2021/wtf' %>
  </p>

  <p>
    Remember, to celebrate <i>all</i> of the makers who won, were nominated, or just captured our hearts and passwords, we’re throwing a live Awards ceremony on January 27th! 
    Get all the details and <%= link_to 'sign up', GoldenKitty.live_event_url, target: '_blank' %> to reserve your spot!
  </p>

  <p>
    The Golden Kitty Awards 2021 are made possible by our sponsor, <%= link_to 'Flatfile', 'https://flatfile.com/get-started/?utm_source=partner&utm_medium=display&utm_campaign=producthunt_display_q1-2021-gka-awards&utm_content=gka-email-in-text-callout&utm_term=gka-emailbrand-name-link' %>.
  </p>

  <%= transactional_salutation salute: 'Stay tuned', from: 'The Product Hunt Team 😸' %>
<% end %>
