<div class="notification upcoming-page-message">
  <table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
      <td class="body">
        <%= raw Sanitizers::DbToEmail.call(@body) %>
      </td>
    </tr>

    <% if @message.layout_status_update? && @message.publicly_accessible? %>
      <tr>
        <td>
          <div class="notification-action-button">
            <%= link_to "Share your feedback", Routes.upcoming_page_message_url(@message) %>
          </div>
        </td>
      </tr>
    <% elsif @message.layout_personal? %>
      <tr>
        <td>
          <br />
        </td>
      </tr>
    <% elsif @message.layout_survey? %>
      <tr>
        <td>
          <div class="notification-action-button">
            <%= link_to "Take the Survey", Routes.upcoming_page_survey_url(@message.survey)  %>
          </div>
        </td>
      </tr>
    <% elsif @message.layout_launch? %>
      <tr>
        <td>
          <div class="notification-action-button">
            <%= link_to "#{@message.upcoming_page.name} on Product Hunt", Routes.post_url(@message.post)  %>
          </div>
        </td>
      </tr>
    <% end %>

    <tr class="footer">
      <td class="middle">
        <p>
          <span class="user upcoming-page-message-author-image"><%= user_image @user, size: 30 %></span> <strong><%= @user.first_name %></strong> from <%= @upcoming_page.name %>
        </p>
      </td>
    </tr>

    <tr>
      <td class="footer unsubscribe">
        <%= link_to "Unsubscribe from #{@upcoming_page.name}'s emails", destroy_my_upcoming_page_subscription_url(slug: @upcoming_page.slug, token: @token) %>.</p>
      </td>
    </tr>
  </table>
</div>

