<%= transactional_layout_v2 do %>
  <%= mobile_preview_tag 'Your upcoming launch is visible on the upcoming list' %>

  <div class="transactional-v2-layout-main">
    <%= render 'mailer/transactional_v2_header', destination: root_url(@tracking_params), tracking_params: @tracking_params %>
    <table class="announcement-container-md">
      <tr>
        <td>
          <h1 class='large-text'>Your upcoming launch is visible</h1>
        </td>
      </tr>

      <tr>
        <td>
          <p class='body-text' style='margin-bottom: 20px'>
            <%= link_to @post.name, post_url(@post, @tracking_params), target: '_blank' %> has been successfully published to the upcoming page.
          </p>
        </td>
      </tr>
    </table>

    <%= transactional_cta 'Open page', coming_soon_url(@tracking_params), center: true %>
  </div>

  <%= render 'mailer/social_footer_links_v2', tracking_params: @tracking_params %>
<% end %>
