<h1>Product Hunt Admin Dev Tools 😸</h1>

<% deploy_file = Rails.root.join('tmp/deploy.json') %>
<% deploy_data = (deploy_file.exist? && JSON.load_file(deploy_file)) || {} %>

<h2>Last deploy (tmp/deploy.json)</h2>
<ul>
  <% if revision = deploy_data['revision'] %>
    <li>
      Revision:
      <%= link_to revision, "https://github.com/producthunt/producthunt/commit/#{revision}" %>
    </li>
  <% else %>
    <li>Revision: N/A</li>
  <% end %>

  <li>Timestamp: <%= deploy_data['timestamp'] || 'N/A' %></li>
  <li>Rails Version: <%= Rails.version %></li>
  <li>Ruby Version: <%= defined?(RUBY_VERSION) && RUBY_VERSION.present? ? RUBY_VERSION : 'Unavailable' %></li>
</ul>

<h2>Internal</h2>
<ul>
  <li><%= link_to 'Admin', '/admin' %></li>
  <li><%= link_to 'https://dev-graylog.producthunt.org/search' do %><strong>Logging</strong><% end %></li>
  <% if Config.graphiql_enabled? %>
    <li><%= link_to 'GraphiQL', admin_frontend_graphiql_path %> (<i>API query console</i>)</li>
    <li><%= link_to 'GraphiQL Mobile', admin_frontend_graphiql_mobile_path %> (<i>API query console for Mobile API</i>)</li>
  <% end %>
  <li><%= link_to 'Sidekiq', '/admin/sidekiq' %> (<i>background workers</i>)</li>
  <li><%= link_to 'Flipper', '/admin/flipper' %> (<i>feature flags</i>)</li>
  <li><%= link_to 'PgHero', '/admin/pghero' %> (<i>Postgresql analytics</i>)</li>
  <li><%= link_to 'Split', '/admin/split' %> (<i>a/b Testing</i>)</li>
  <li><%= link_to 'Playground', '/dev/playground' %> (<i>empty page for component tests</i>)</li>
  <li><%= link_to 'Dream Components', '/dev/dream' %> (<i>showcase of Dream design system components</i>)</li>
  <li><%= link_to 'Storybook', '/admin/storybook' %>  (<i>interactive component library system</i>)</li>
  <li><%= link_to 'Test mail', admin_test_mailer_path %></li>
  <% if Rails.application.config.action_mailer.show_previews %>
    <li><%= link_to 'Mailers', '/rails/mailers' %> (<i>email previews</i>)</li>
  <% end %>
  <li><%= link_to 'Activity Feed', admin_test_activity_feed_path %></li>
  <li><%= link_to 'Mobile Notifications', admin_test_mobile_notifications_path %></li>
</ul>

<h2>External</h2>
<ul>
  <li><%= link_to 'Sentry', 'https://sentry.io/organizations/producthuntcom/issues/'%> (<i>exception tracking</i>)</li>
  <li><%= link_to 'AWS', 'https://signin.aws.amazon.com/oauth?redirect_uri=https%3A%2F%2Fconsole.aws.amazon.com%2Fconsole%2Fhome%3Fstate%3DhashArgs%2523%26isauthcode%3Dtrue&client_id=arn%3Aaws%3Aiam%3A%3A015428540659%3Auser%2Fhomepage&response_type=code&iam_user=true&account=producthunt'%></li>
  <li><%= link_to 'Asana', 'https://app.asana.com/home' %> (<i>project management</i>) boards: <%= link_to 'Engineering Hub', 'https://app.asana.com/0/1199722758132045/overview' %>, <%= link_to 'Bugs', 'https://app.asana.com/0/1199573741812378/board' %></li>
  <li><%= link_to 'Notion', 'https://www.notion.so/teamhome1431/Product-Hunt-Home-f476639482d2490d9441e61b475be431' %> (<i>document management</i>)</li>
</ul>

<h2>SEO</h2>
<ul>
  <li><%= link_to 'Google Search Console', 'https://search.google.com/u/1/search-console?resource_id=sc-domain%3Aproducthunt.com'%> (<i>check indexing status and optimize visibility</i>)</li>
  <li><%= link_to 'Mobile-Friendly Test', 'https://search.google.com/test/mobile-friendly'%> (<i>mobile test</i>)</li>
  <li><%= link_to 'Google Structured Data Test', 'https://search.google.com/structured-data/testing-tool/u/0/' %> (<i>test google structured data</i>)</li>
  <li><%= link_to 'Lighthouse', 'https://developers.google.com/web/tools/lighthouse#devtools' %> (<i>check performance, seo and more</i>)</li>
</ul>
