<%= transactional_layout name: @user&.first_name do %>
  <%= transactional_box title: "#{ @presenter.curator_names } updated collections you follow" do  %>
    <table width="100%">
      <% @presenter.collections.take(3).each_with_index do |collection, index| %>
        <% if index > 0 %>
        <tr>
          <td>
            <%= transactional_separtor %>
          </td>
        </tr>
        <% end %>
        <tr>
          <td class="collection-digest-email--colection-heading">
            <h4>
              <%= collection.total_post_count %> new in
              <% if collection.without_curator? %>
                the
              <% else %>
                <%= collection.curator_name %>'s
              <% end %>
              <%= link_to collection.name, collection_url(collection.resource) %> collection:
            </h4>
            <h2><%= link_to(collection.primary_post.name, post_url(collection.primary_post)) %></h2>
            <h3><%= collection.primary_post.tagline %></h3>
            <%= link_to image_tag(Screenshot.new(collection.primary_post.url).image_url(max_width: 400, max_height: 350), width: 400), post_url(collection.primary_post) %>
          </td>
        </tr>
        <% if collection.secondary_posts.count > 0 %>
          <tr>
            <td>
              <table width="100%">
                <tr>
                  <% collection.secondary_posts.each do |post| %>
                    <td class="collection-digest-email--secondary-post">
                      <h2><%= link_to post.name, post_url(post) %></h2>
                      <div class="collectiond-digest-email--secondary-post-thumbnail" style="background-image:url('<%= post.thumbnail_url %>')"></div>
                    </td>
                  <% end %>
                </tr>
              </table>
            </td>
          </tr>
        <% end %>
        <% if collection.more? %>
          <tr>
            <td>
              <%= transactional_cta "See #{ collection.rest_posts_count } more", collection_url(collection.resource), center: true %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>
  <% end %>

  <% if @recommended_collections.present? %>
    <%= transactional_box title: 'More awesome collections' do %>
      <table width="100%">
        <tr>
          <% @recommended_collections.each do |collection| %>
            <td class="collection-digest-email--recommended-collection">
              <%= link_to collection_url(collection) do %>
                <div class="collectiond-digest-email--recommended-collection--thumbnail" style="background-image:url('<%= collection.background_image_banner_url %>')"></div>
                <h3><%= collection.name %></h3>
                <p><%= collection.title %></p>
                <div class="collection-digest-email--recommended-collections--follow-button">
                  Follow
                </div>
              <% end %>
            </td>
          <% end %>
        </tr>
      </table>
      <%= transactional_cta 'More collections', collections_url, center: true %>
    <% end %>
  <% end %>

  <%= transactional_footnote do %>
    <p>
      You can
      <% if @user.present? %>
        <%= link_to 'opt out', Notifications::UnsubscribeWithToken.url(kind: 'collection_digest', user: @user) %>
      <% else %>
        <%= link_to 'opt out', Notifications::UnsubscribeWithToken.url(kind: 'collection_digest', email: @email) %>
      <% end %>
      of collection notifications or manage all of your email notifications from <%= link_to 'your profile', Routes.my_settings_url %>.</p>
    </p>
  <% end %>
<% end %>
