<!DOCTYPE html>
<html>
<head>
  <%= render_meta_tags @meta_tags %>

  <%= stylesheet_link_tag "api", media: "all" %>

  <%= jquery_javascript_tag %>

  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
</head>

<body class="<%= helper_classes %>">
  <header class="api-docs-header">
    <div class="container">
      <%= link_to 'https://www.producthunt.com', class: 'api-docs-header--logo' do %>
        <svg width="40" height="40" viewbox="0 0 40 40" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M40 20c0 11.046-8.954 20-20 20S0 31.046 0 20 8.954 0 20 0s20 8.954 20 20" fill="#DA552F"></path><path d="M22.667 20H17v-6h5.667c1.656 0 3 1.343 3 3s-1.344 3-3 3m0-10H13v20h4v-6h5.667c3.866 0 7-3.134 7-7s-3.134-7-7-7" fill="#FFF"></path></g></svg>
        <h1 class="api-docs-header--logo--title">Product Hunt</h1>
      <% end %>
      <%= link_to 'API dashboard', api_v2_oauth_applications_path, class: 'api-docs-header--api' %>
    </div>
  </header>

  <main class="page-main">
    <div class="main-content">
      <div class="container p-api-v1-docs">
        <ul class="api--sidenav">
          <li class="api--sidenav--heading">
            <%= link_to 'Welcome to the API', @base_url %>
          </li>
          <% @resources.each do |resource| %>
            <li>
              <li class="api--sidenav--heading">
                <a href="#" data-collapsing-navigation-target="<%= resource['name'] %>">
                  <%= resource['name'] %>
                </a>
              </li>
              <ul class="api--sidenav--subnav<%= ' m-active' if @example.present? && resource['name'] == @example['resource'] %>"
                data-collapsing-navigation="<%= resource['name'] %>">
                <% resource['examples'].each do |ex| %>
                  <li>
                    <%= link_to ex['description'], ex['redirect_link'] || @base_url + '/' + ex['link'].gsub(/\.json$/, ''), target: ex['redirect_link'] ? "_blank" : '' %>
                  </li>
                <% end %>
              </ul>
            </li>
          <% end %>
        </ul>

        <div class="api--content">
          <%= yield %>
        </div>
      </div>
    </div>
  </main>

  <script>
    $('[data-collapsing-navigation-target]').click(function(e) {
      e.preventDefault();
      var subgroup = $(e.target).data('collapsing-navigation-target');

      $("[data-collapsing-navigation!='" + subgroup + "']").removeClass('m-active');
      $("[data-collapsing-navigation='" + subgroup + "']").toggleClass('m-active');
    });
  </script>
</body>
</html>
