<!DOCTYPE html>
<html>
<head>
  <% if user_signed_in? %>
    <%= csrf_meta_tags %>
  <% end %>

  <title>Product Hunt</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="<%= asset_url('favicon.ico'.freeze) %>">
  <link rel="apple-touch-icon-precomposed" href="<%= asset_url('ph-ios-icon.png'.freeze) %>">
  <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/likjafohlgffamccflcidmedfongmkee">
</head>

<body class="<%= helper_classes %>">
  <main id="app" class="page-main">
    <%= content_for?(:content) ? yield(:content) : yield %>
  </main>
</body>
</html>
